@{
    ViewBag.Title = "Home Page";
}

<header>
<div class="container">
    <nav class="navbar navbar-default nm" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="logo" class="navbar-brand" href="index.html"><img src="/img/logo.png" alt="My Brand" /></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse nb np">
            <ul class="nav navbar-nav">
                <li><a href="#top" class="anchor">Home</a></li>
                <li><a href="#gallery" class="anchor">Gallery</a></li>
                <li><a href="#team" class="anchor">Team</a></li>
                <li><a href="#videos" class="anchor">Video</a></li>
                <li><a href="/Account/Register" class="anchor">Register</a></li>
                <li><a href="/Account/Login" class="anchor">Login</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</div>
</header>

<section id="intro" class="">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1>Start Now!</h1>
                <p>Learn how to build websites & apps, write code or start a business. Nam in tortor elit. Nam adipiscing ipsum nisl, eu viverra urna cursus dignissim.</p>
                <div class="btns-group clearfix">
                    <a href="#pricing" class="btn btn-danger btn-lg has-shadow anchor">
                        <i class="icon-credit-card"></i>
                        Selct Your Price
                    </a>
                    <a href="#suscribe" class="btn btn-danger btn-lg has-shadow anchor">
                        <i class="icon-mail"></i>
                        Subscribe Now
                    </a>
                </div>
            </div>
            <div class="col-sm-5 clearfix">
                <figure>
                    <img src="/img/img-intro.png" class="img-responsive img-intro" alt="img intro" />
                </figure>
            </div>
        </div>
    </div>
</section>
<!-- End intro -->

<hr class="hidden" />

<!-- Features -->
<section id="features" class="bg-color">
    <div class="container">

        <div class="row">
            <div class="col-sm-4 item from-left">
                <div class="icon">
                    <figure>
                        <img src="/img/icons/ico-77.png" alt="//" />
                    </figure>
                </div>
                <h3>Study from Home</h3>
                <p>
                    Maecenas molestie ac dui at rhoncus. Donec tincidunt mi at
                    neque pharetra cursus. Nam in tortor elit. Nam adipiscing
                    ipsum nisl, eu viverra urna cursus dignissim.
                </p>
            </div>
            <div class="col-sm-4 item from-bottom">
                <div class="icon">
                    <figure>
                        <img src="/img/icons/ico-43.png" alt="//" />
                    </figure>
                </div>
                <h3>Play and Learn</h3>
                <p>
                    Maecenas molestie ac dui at rhoncus. Donec tincidunt mi at
                    neque pharetra cursus. Nam in tortor elit. Nam adipiscing
                    ipsum nisl, eu viverra urna cursus dignissim.
                </p>
            </div>
            <div class="col-sm-4 item from-right">
                <div class="icon">
                    <figure>
                        <img src="/img/icons/ico-15.png" alt="//" />
                    </figure>
                </div>
                <h3>Learn at your Time</h3>
                <p>
                    Maecenas molestie ac dui at rhoncus. Donec tincidunt mi at
                    neque pharetra cursus. Nam in tortor elit. Nam adipiscing
                    ipsum nisl, eu viverra urna cursus dignissim.
                </p>
            </div>
        </div>

    </div>
</section>
<!-- end Features -->


<hr class="hidden" />

<!-- Gallery -->
<section id="gallery" class="bg-color">
    <div class="container text-center">
        <h2>Classes Gallery</h2>
        <div class="row">
            <div class="col-sm-3 from-left">
                <a href="/img/gallery/img-gallery.jpg" class="fancybox">
                    <div class="item">
                        <figure>
                            <img class="img-responsive" src="/img/gallery/img-gallery.jpg" alt="//" />
                        </figure>
                        <div class="hover">
                            <div class="icon img-circle">
                                <i class="icon-eye">
                                </i>
                            </div>
                            <h4>TITLE OF THE IMAGE</h4>
                            <p>Image Gallery Example</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-3 from-bottom">
                <a href="/img/gallery/img-gallery-1.jpg" class="fancybox">
                    <div class="item">
                        <figure>
                            <img class="img-responsive" src="/img/gallery/img-gallery-1.jpg" alt="//" />
                        </figure>
                        <div class="hover">
                            <div class="icon img-circle">
                                <i class="icon-eye">
                                </i>
                            </div>
                            <h4>TITLE OF THE IMAGE</h4>
                            <p>Image Gallery Example</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-3 from-bottom">
                <a href="/img/gallery/img-gallery-2.jpg" class="fancybox">
                    <div class="item">
                        <figure>
                            <img class="img-responsive" src="/img/gallery/img-gallery-2.jpg" alt="//" />
                        </figure>
                        <div class="hover">
                            <div class="icon img-circle">
                                <i class="icon-eye">
                                </i>
                            </div>
                            <h4>TITLE OF THE IMAGE</h4>
                            <p>Image Gallery Example</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-3 from-right">
                <a href="/img/gallery/img-gallery-3.jpg" class="fancybox">
                    <div class="item">
                        <figure>
                            <img class="img-responsive" src="/img/gallery/img-gallery-3.jpg" alt="//" />
                        </figure>
                        <div class="hover">
                            <div class="icon img-circle">
                                <i class="icon-eye">
                                </i>
                            </div>
                            <h4>TITLE OF THE IMAGE</h4>
                            <p>Image Gallery Example</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-3 from-left">
                <a href="/img/gallery/img-gallery-4.jpg" class="fancybox">
                    <div class="item">
                        <figure>
                            <img class="img-responsive" src="/img/gallery/img-gallery-4.jpg" alt="//" />
                        </figure>
                        <div class="hover">
                            <div class="icon img-circle">
                                <i class="icon-eye">
                                </i>
                            </div>
                            <h4>TITLE OF THE IMAGE</h4>
                            <p>Image Gallery Example</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-3 from-bottom">
                <a href="/img/gallery/img-gallery-5.jpg" class="fancybox">
                    <div class="item">
                        <figure>
                            <img class="img-responsive" src="/img/gallery/img-gallery-5.jpg" alt="//" />
                        </figure>
                        <div class="hover">
                            <div class="icon img-circle">
                                <i class="icon-eye">
                                </i>
                            </div>
                            <h4>TITLE OF THE IMAGE</h4>
                            <p>Image Gallery Example</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-3 from-bottom">
                <a href="/img/gallery/img-gallery-6.jpg" class="fancybox">
                    <div class="item">
                        <figure>
                            <img class="img-responsive" src="/img/gallery/img-gallery-6.jpg" alt="//" />
                        </figure>
                        <div class="hover">
                            <div class="icon img-circle">
                                <i class="icon-eye">
                                </i>
                            </div>
                            <h4>TITLE OF THE IMAGE</h4>
                            <p>Image Gallery Example</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-3 from-right">
                <a href="/img/gallery/img-gallery-7.jpg" class="fancybox">
                    <div class="item">
                        <figure>
                            <img class="img-responsive" src="/img/gallery/img-gallery-7.jpg" alt="//" />
                        </figure>
                        <div class="hover">
                            <div class="icon img-circle">
                                <i class="icon-eye">
                                </i>
                            </div>
                            <h4>TITLE OF THE IMAGE</h4>
                            <p>Image Gallery Example</p>
                        </div>
                    </div>
                </a>
            </div>
        </div><!-- .row -->
    </div>
</section>
<!-- end gallery -->


<!-- Team -->
<section id="team">
    <div class="container text-center">
        <h2 class="from-bottom">Teachers Stuff</h2>
        <div class="container-carousel">
            <div id="owl-services" class="owl-carousel owl-theme text-center from-bottom">
                <div class="item">
                    <div class="thumb">
                        <figure>
                            <img data-type="mText" src="/img/team/img-team.jpg" class="img-responsive img-circle" alt="//" />
                        </figure>
                    </div>
                    <h3>Mark WELSH</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <ul>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-gplus"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                    </ul>
                </div>

                <div class="item">
                    <div class="thumb">
                        <figure>
                            <img data-type="mText" src="/img/team/img-team-1.jpg" class="img-responsive img-circle" alt="//" />
                        </figure>
                    </div>
                    <h3>Lisa WELSH</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <ul>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-gplus"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                    </ul>
                </div>

                <div class="item">
                    <div class="thumb">
                        <figure>
                            <img data-type="mText" src="/img/team/img-team-2.jpg" class="img-responsive img-circle" alt="//" />
                        </figure>
                    </div>
                    <h3>neal WELSH</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <ul>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-gplus"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                    </ul>
                </div>

                <div class="item">
                    <div class="thumb">
                        <figure>
                            <img data-type="mText" src="/img/team/img-team-3.jpg" class="img-responsive img-circle" alt="//" />
                        </figure>
                    </div>
                    <h3>neal WELSH</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <ul>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-gplus"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                    </ul>
                </div>

                <div class="item">
                    <div class="thumb">
                        <figure>
                            <img data-type="mText" src="/img/team/img-team.jpg" class="img-responsive img-circle" alt="//" />
                        </figure>
                    </div>
                    <h3>neal WELSH</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <ul>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-gplus"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                    </ul>
                </div>

                <div class="item">
                    <div class="thumb">
                        <figure>
                            <img data-type="mText" src="/img/team/img-team-1.jpg" class="img-responsive img-circle" alt="//" />
                        </figure>
                    </div>
                    <h3>neal WELSH</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <ul>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-gplus"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                    </ul>
                </div>

                <div class="item">
                    <div class="thumb">
                        <figure>
                            <img data-type="mText" src="/img/team/img-team-2.jpg" class="img-responsive img-circle" alt="//" />
                        </figure>
                    </div>
                    <h3>neal WELSH</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <ul>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-gplus"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                    </ul>
                </div>

                <div class="item">
                    <div class="thumb">
                        <figure>
                            <img data-type="mText" src="/img/team/img-team-3.jpg" class="img-responsive img-circle" alt="//" />
                        </figure>
                    </div>
                    <h3>neal WELSH</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <ul>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-gplus"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                    </ul>
                </div>

                <div class="item">
                    <div class="thumb">
                        <figure>
                            <img data-type="mText" src="/img/team/img-team.jpg" class="img-responsive img-circle" alt="//" />
                        </figure>
                    </div>
                    <h3>neal WELSH</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <ul>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-gplus"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                    </ul>
                </div>

                <div class="item">
                    <div class="thumb">
                        <figure>
                            <img data-type="mText" src="/img/team/img-team-1.jpg" class="img-responsive img-circle" alt="//" />
                        </figure>
                    </div>
                    <h3>neal WELSH</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <ul>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-gplus"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                    </ul>
                </div>

                <div class="item">
                    <div class="thumb">
                        <figure>
                            <img data-type="mText" src="/img/team/img-team-2.jpg" class="img-responsive img-circle" alt="//" />
                        </figure>
                    </div>
                    <h3>neal WELSH</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <ul>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-gplus"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                    </ul>
                </div>

                <div class="item">
                    <div class="thumb">
                        <figure>
                            <img data-type="mText" src="/img/team/img-team-3.jpg" class="img-responsive img-circle" alt="//" />
                        </figure>
                    </div>
                    <h3>neal WELSH</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <ul>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-gplus"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                    </ul>
                </div>

            </div>

        </div><!-- .container-carousel -->
    </div><!-- .container -->
</section>
<!-- end team -->

<hr class="hidden" />

<!-- Newsletter -->
<section id="newsletter" class="bg-color from-bottom">
    <div class="container text-center">


        <form id="newsletter-form" action="http://learntheme.coralixthemes.com/newsletter.php" method="get" accept-charset="utf-8">
            <div class="row">
                <div class="col-sm-4">

                    <div class="form-group">
                        <label class="hidden">Disabled input</label>
                        <div class="left-inner-addon">
                            <i class="icon-user"></i>
                            <input name="name" type="text" placeholder="Enter your Name here..." class="form-control input-lg">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="hidden">Disabled select menu</label>
                        <div class="left-inner-addon">
                            <i class="icon-mail"></i>
                            <input name="email" type="email" placeholder="Enter your email..." class="form-control input-lg">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-warning btn-lg" type="submit">Subscribe to Newsletter</button>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- end Newsletter -->

<hr class="hidden" />

<!-- Video -->
<section id="videos" class="bg-color">
    <div class="container">

        <h2 class="text-center from-bottom">See more about Us</h2>

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner from-bottom">
                <div class="item active">
                    <div class="row">
                        <div class="col-sm-5">
                            <h3>Study from Home</h3>
                            <div class="thumb">
                                <a href="pdf/pdf.pdf"><img src="/img/pdf.png" alt="" /></a>
                            </div>
                            <div class="cont">
                                <p>
                                   You can Learn Photoshop by just watching a Video Tutorial 
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="video-frame">
                                <div class="video">
                                    <iframe width="560" height="315" src="https://www.youtube.com/watch?v=pFyOznL9UvA" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="item">
                    <div class="row">
                        <div class="col-sm-5">
                            <h3>Study from Home</h3>
                            <div class="thumb">
                                <a href="pdf/pdf.pdf"><img src="/img/pdf.png" alt="" /></a>
                            </div>
                            <div class="cont">
                                <p>
                                    Maecenas molestie ac dui at rhoncus.
                                    Donec tincidunt mi at and  pharetra cursus.
                                    Nam in tortor elit.
                                    Nam adipiscing ipsum
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="video-frame">
                                <div class="video">
                                    <iframe width="560" height="315" src="http://www.youtube.com/embed/rNVEo6S_OH0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</section>
<!-- end Video -->


<hr class="hidden" />
